* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  font-size: 62.5%;

  --ff-header: 'Alata', sans-serif;
  --ff-body: 'Open Sans', sans-serif;

  --background-main: #221A37;
  --background-button: #402166;
}

body {
  background: #242424;
}
.page {
  background-color: var(--background-main);
  background-image: url(images/mobile-background.png);
  background-repeat: no-repeat;
  background-size: 390px 300px;
  background-position: left bottom;
  background-attachment: fixed;
  min-height: 100vh;
  z-index: 0;
 

  margin: 1rem;
  border-radius: 5rem 5rem 5rem 5rem;

  

}

header {
  font-family: var(--ff-header);
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem 3.2rem;
  align-items: center;
}

.header1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
header a {
  text-decoration: none;
  color: #FFFFFF;
}
.header1 a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 1px;

  

  color: #E8E8E8;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
  background-color: var(--background-button);

  border-radius: 2.6rem;
  border: none;
  width: 10rem;
  height: 3rem; 

  font-family: var(--ff-header);
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7rem;
 
  text-align: center;

  color: #FFFFFF;
}

#deskbutton {
  display: none;
}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin-top: 3rem;
}

li {
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
 
  color: #E8E8E8;
}

main {
  margin: 4.5rem 3rem;
}

main p:nth-child(1) {
  color: #5D3974;
  font-size: clamp(1em, 0.5em + 2vw, 1.5em);
  line-height: 2.7rem;
  margin-bottom: 1rem;
}

main p {
  font-family: var(--ff-body);
  font-weight: 700;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 2.2rem;
  padding-top: 1.3rem;

  color: #C0C0C0;
}

main h1 {
  font-family: var(--ff-body);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(4em, 1em + 4vw, 6.2em);
  line-height: 6.1rem;
  margin-bottom: 2rem;

  color: #E8E8E8;
}

footer p {
  color: #FFFFFF;
  text-align: center;
  
}
/* Resposividade*/

@media (min-width: 500px) {
  .page {
    background-image: none;
    background-image: url(images/background.png);
    
    background-size: 45rem 30rem;
    background-size: 90%;
    background-position: left 1.5em bottom;

  }

  .text {
    position: relative;
    
  }
  main {
    position: absolute;
    right: 1rem;
    width: 30rem;
  }

}

@media (min-width: 1100px) {
  main {
    right: 10rem;
    width: 40rem;
  }

  .page {
    background-size: 55%;

  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6rem 5rem;
  }
  #deskbutton {
    display: block;
    width: 15rem;
    height: 4rem; 
  }
  header button:nth-child(2) {
    display: none;
  }

  nav {
    display: flex;
    gap: 5.2rem;
    align-items: center;
  }
  ul {
    gap: 9.2rem;
    margin: 0;
  }

  header h1 {
    margin-right: 10rem;
    
  }
}


/* Animações */

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

header {
  animation: topdown 4000ms ;
}


@keyframes left-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

main h1 {
  animation: left-right 3000ms;
}

nav ul li a:hover {
  font-weight: bold;
  color: var(--background-button);
}
nav ul li:hover {
  padding-bottom: 0.5rem;

}

header button:hover {
  background-color: #5D3974;
}